h1 {
    font-size: 90px;
    text-align: center;
    background-color: yellow;

}

h3 {
font-size: 50px;
text-align: center;
background-color: yellow;
}

body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: rgb(201, 76, 76);
}

