<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona pierwsza</title>
</head>
<body>
    <h2> To jest pierwsza strona</h2>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cum, cupiditate deserunt ducimus eligendi exercitationem fuga illum, incidunt necessitatibus nisi odio officia pariatur quas quibusdam quis reprehenderit vitae. Aperiam, iure.

        <!-- statyczne linkowanie = zahardcodowanym urlem -->
        <!--<p>Przejdź do strony <a href="/links/second/">drugiej</a>.</p>-->

    <!-- dynamiczne linkowanie -->
    <p>Przejdź do strony <a href="{% url 'links:second' %}">drugiej</a>.</p>

{% include "links/hello.html" %}

</body>
</html>